@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>
    <br /><h3>Problem Statement</h3>
    Current methods of teaching and learning English, lacking a live conversational component, result in students that struggle to speak and listen as well as they can read and write. It is difficult for ESL and EFL students to find native or fluent English speakers available to facilitate the practical mastery of listening and speaking.
    <h3>Solution? ----------> CPP!</h3>
    CPP synchronously connects geographically diverse ESL and EFL students with native or fluent English speakers for instant opportunity to practice listening and speaking.
</p>