@model MVCEmail.Models.EmailFormModel
@{
    ViewBag.Title = "Support";
}
@using (Html.BeginForm("createViolation", "ViolationController", FormMethod.Post))
{
    <h2>Support</h2>
    <button><h4><a href="~/Violations/Create">Report Violators</a></h4></button>
    <p></p>
    if ((bool)ViewData["userIsAdmin"])
    {

        <div style="background-color:lightgray">
            <br /><br />
            <p>
                <h2><b>ADMINISTRATOR PANEL</b></h2>
                <ul>
                    <li> <a href="~/Profiles/Admin">Profiles</a></li>
                    <li> <a href="~/Ratings/AdminRating">Rating</a></li>
                    <li> <a href="~/ViolationTypes/">Violation</a></li>
                    <li> <a href="~/SessionLogs">Session Log</a></li>
                    <li> <a href="~/Cours">Courses</a></li>
                </ul>
            </p>
            <br /><br />
        </div>
    }


<p>
    <h4>Spring 2017 CS411W Red Team</h4>
    <address>
        Old Dominion University<br />
        Norfolk, Virginia, United States<br />
    </address>
    <address>
        <strong>Project Manager:</strong> <a href="mailto:cchey001@odu.edu">Caroline Maiorana</a><br />
        <strong>Database:</strong> <a href="mailto:bmoor038@odu.edu">Bryan Moore</a><br />
        <strong>Algorithm:</strong> <a href="mailto:mtala003@odu.edu">Matthew Talamo</a><br />
        <strong>Marketing:</strong> <a href="mailto:hhorn001@odu.edu">Harrison Hornsby</a><br />
        <strong>Cybersecurity:</strong> <a href="mailto:rlach001@odu.edu">Ryan Lachman</a><br />
    </address>
</p>

}