﻿@model MVCEmail.Models.EmailFormModel
@{
    ViewBag.Title = "Contact";
}
<h2>Contact CPP</h2>
<h3>CS411W Red Team</h3>
<address>
    Old Dominion University<br />
    Norfolk, Virginia, United States<br />
</address>
<address>
    <strong>Project Manager:</strong> <a href="mailto:cchey001@odu.edu">Caroline Maiorana</a><br />
    <strong>Database:</strong> <a href="mailto:bmoor038@odu.edu">Bryan Moore</a><br />
    <strong>Algorithm:</strong> <a href="mailto:mtala003@odu.edu">Matthew Talamo</a><br />
    <strong>Marketing:</strong> <a href="mailto:hhorn001@odu.edu">Harrison Hornsby</a><br />
    <strong>Cybersecurity:</strong> <a href="mailto:rlach001@odu.edu">Ryan Lachman</a><br />
</address>
